.div {
  display: flex;
  margin-bottom: 100px;
}

.divNavTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.navtitle {
  display: flex;
  color: rgb(138, 138, 138);
  text-decoration: none;
}
.navtitleActive {
  color: rgb(29, 29, 29);
}

@media only screen and (max-width: 700px) {
  .navtitle {
    font-size: 0;
  }
}
