.container {
  display: flex;
  flex-direction: column;
  margin-top: 9rem;
}

.divNavTitle {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}
.navtitle {
  display: flex;
  color: rgb(138, 138, 138);
  text-decoration: none;
}
.navtitleActive {
  color: rgb(29, 29, 29);
}
